@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

*{box-sizing: border-box; margin: 0;}
a{text-decoration: none; color: inherit; }
ul{list-style: none; font-family: Lato ,sans-serif;}
button{cursor: pointer;}
ul li{ white-space: nowrap;}
.flex{display: flex;}
.center{text-align: center; padding: 1rem 0 2rem; font-weight: 800; line-height: 27px;}
.justify-space{justify-content: space-between;}
.justify-center{justify-content: center;}
.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
:root{
    --fm:"montserrat", sans-sarif;
    --blu:#0759a9;
    --lat: "Lato", sans-serif;
    --cur: "Leckerli One", cursive;
}
html{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    color: #fff;
    font-family: var(--fm);
}
.container{
    max-width: 1220px;
    margin: auto;
    padding: 0 1rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem;
}
header .toggle{
    display: none;
}
.menu{
    background: none;
    color: var(--blu);
    font-size: 1rem;
    position: absolute;
    right: 1rem;
    top: 20px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
}
.col-1{flex-basis: 8.33%; max-width: 8.33%;}
.col-2{flex-basis: 16.66%; max-width: 16.66%;}
.col-3{flex-basis: 29%; max-width: 29%;}
.col-4{flex-basis: 33.33%; max-width: 33.33%;}
.col-5{flex-basis: 41.66%; max-width: 41.66%;}
.col-6{flex-basis: 50%; max-width: 50%;}
.col-7{flex-basis: 58.33%; max-width: 58.33%;}
.col-12{flex-basis: 100%; max-width: 100%;}

ul li:hover{color: var(--blu);}
nav ul{gap: 25px;}

header{background-image: url(Layer1.webp);}
header h1{white-space: nowrap; padding-top: 1rem;}
h1 a span{ color: var(--blu);}
nav{margin-top: 2rem;}
#menuList{
    transition: all 0.4s ;
}
.picture img{width: 100%;}
.context{margin-top: 7rem;}
.context h2{line-height: 2.5rem;}
.hi{font-family: var(--cur);font-size: 27px; line-height: 6rem;}
.name h2 span{color: var(--blu);}
.name h2{font-weight: bold; font-size: 32px;}
.company{margin-bottom: 3rem;}
.company h2{font-weight: 400; font-size: 27px;}
.description{margin-bottom: 3rem;}
.description p{font-family: var(--lat);line-height: 28px;}
.butn{
    font-family: var(--lat);
    background: var(--blu);
    padding: 10px;
    color: #fff;
    border: 1px solid#000;
    border-radius: 20px;
    width: 8rem;
}
.about{background: #0e309f ;margin-top: -3rem;}
.about .hi{margin-top: 3rem;}
.about .brand h2{font-size: 27px;}
.about .review{margin: 1rem 0 2.5rem;}
.about .butn{background: #3b4374; margin-bottom: 6rem;}
.review p{font-family: var(--lat); line-height: 27px;}
.service{background: var(--blu);}
.cursive{
    font-family: var(--cur);
    margin-top: 8rem;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
}
.bold{
    font-family: var(--fm);
    font-size: 32px;
    line-height: 43px;
    font-weight: 800;
    margin-bottom: 3rem;
    text-align: center;
}
.para{font-family: var(--lat); text-align: center;line-height: 28px; margin-bottom: 5rem;}
.heading span{font-size: 2rem; margin-right: 1rem;}
.heading h3{
    font-family: var(--lat);
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 2rem;
}
.rating p{
    font-family: var(--lat);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 4.5rem;
}
.portfolio .cursive{color: #575757;}
.portfolio .bold{color: #000;}
.badge{display: flex;flex-wrap: wrap;}
.clint{background-image: url(Layer3.webp); background-repeat: no-repeat; background-size: cover;}
.compy-logo{
    width: 100%;
    height: auto; 
}
.compy{overflow: hidden;}
.compy li{margin: 0 16px 20px; list-style: none; }
.blog .cursive{color:#616161;text-align: left;}
.blog .bold{color: #000;text-align: left;}
.blog .para{color: #3b3b3b; text-align: left;}
.post-1{background: var(--blu); margin-bottom: 3rem;}
.post-2{background: #616162; margin-right: 1rem;}
.post-2 h3 { font-weight: 800; font-family: var(--fm); color: #000;}
.post-3{background: #000; margin-right: 3rem;}
.date{color: #e3f604; font-weight: 700;padding: 1rem; text-align: center;}
.post-4{background-image: url(blog-bg.webp); transform: translate(36rem, -54rem);position: absolute;}
.post-4 h3{padding: 1rem; margin: 9rem 0 0; font-size: 27px; font-weight: 700;}
.post-5{background: #840e36;}
.blogs{margin-bottom: 6rem; position: relative;}
.contact{background-image: url(Layer4.webp);}
.contact .cursive{text-align: left;}
.contact .bold{text-align: left;}
.icon{font-size: 36px; margin: 0 5rem 5rem 0;}
.wrap p{line-height: 2rem;}
.form{ display: flex; flex-direction: column;}
.form input,textarea{
    background: #2b2b2b; 
    color: #fff; 
    border-radius: 7px;
    margin: 0 0 2rem;
    padding: 5px;

}
.last-logo{
    border: 2px solid#fff;
    padding: 1rem;
    border-radius: 50%;
    font-size: 24px;
}
.foot{margin: 2rem 0 ; justify-content: center; gap: 15px;}
.copyright{
    justify-content: center;
    text-align: center;
    line-height: 2rem;
}


/* responsive */
@media screen and (max-width:1200px) {
 .context{margin-top: 2rem;}   
 .col-l-6{flex-basis: 50%; max-width: 50%;}
}

@media screen and (max-width:1035px) {
.post-4{display: none;}

}

@media screen and (max-width:980px) {
    header .toggle{display: block;}
    header h1{margin: auto;}
    nav ul{
        position: absolute;
        text-align: center;
        top: 70px;
        left: 0;
        right: 0;
        z-index: 2;
        overflow: hidden;
        background: darkslategray;
        color: #eaeaee;
        flex-direction: column;
    }
    nav ul li{padding: 20px;}
    nav ul :hover{background-color: var(--blu); color: #fff;}
    .post-2,.post-3{margin-bottom: 2rem;}
    .col-p-5{flex-basis: 41.66%; max-width: 41.66%;}
    .col-p-6{flex-basis: 50%; max-width: 50%;}
    .col-p-4{flex-basis: 33.33%; max-width: 33.33%;}
    .col-p-3{flex-basis: 25%; max-width: 25%;}
}

@media only screen and (max-width: 768px) {
    .absolute-element {
        top: 20%;
        left: 20%;
    }
    .col-m-8{flex-basis: 66.66%; max-width: 66.66%;}
}
@media only screen and (max-width: 490px) {
    .col-s-6{flex-basis: 50%; max-width: 50%;}
    .col-s-8{flex-basis: 66.66%; max-width: 66.66%;}
    .service-2{display: none;}
}
